<section class="nicdark_section" style="margin-top: 90px;">

    <div class="nicdark_space20"></div>

    <div class="nicdark_container nicdark_clearfix">
        <h1 class="subtitle greydark">Game đoán chữ</h1>

        <ul class="minigame grid grid_9 percent">
            <li>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_red medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
            </li>
            <li>
                <div class="nicdark_btn_icon nicdark_bg_white medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_red medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
            </li>
            <li>
                <div class="nicdark_btn_icon nicdark_bg_white medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_white medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_red medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
            </li>
            <li>
                <div class="nicdark_btn_icon nicdark_bg_white medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_white medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_red medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
            </li>
            <li>
                <div class="nicdark_btn_icon nicdark_bg_white medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_red medium nicdark_radius_circle grey nicdark_margin5"></div>
                <div class="nicdark_btn_icon nicdark_bg_blue medium nicdark_radius_circle grey nicdark_margin5"></div>
            </li>
        </ul>

        <div class="grid grid_3 percent">
            <div class="nicdark_toogle">
                <h5 class="nicdark_toogle_header white nicdark_bg_blue big nicdark_radius nicdark_shadow">Câu hỏi</h5>
                <div class="nicdark_toogle_content nicdark_bg_grey nicdark_radius_bottom nicdark_shadow" style="padding-top: 0px;">
                    <ul style="padding: 0px;">
                        <li>
                            <div class="nicdark_margin100" style="width: 100%">
                                <a href="" class="nicdark_zoom nicdark_btn nicdark_bg_red medium nicdark_shadow nicdark_radius white" style="width: 100%">1 + 1 = ?</a>
                            </div>
                        </li>
                        <li>
                            <div class="nicdark_margin100" style="width: 100%">
                                <a href="" class="nicdark_zoom nicdark_btn nicdark_bg_blue medium nicdark_shadow nicdark_radius white" style="width: 100%">2 + 2 = ?</a>
                            </div>
                        </li>
                        <li>
                            <div class="nicdark_margin100" style="width: 100%">
                                <a href="" class="nicdark_zoom nicdark_btn nicdark_bg_orange medium nicdark_shadow nicdark_radius white" style="width: 100%">3 + 3 = ?</a>
                            </div>
                        </li>
                        <li>
                            <div class="nicdark_margin100" style="width: 100%">
                                <a href="" class="nicdark_zoom nicdark_btn nicdark_bg_orange medium nicdark_shadow nicdark_radius white" style="width: 100%">3 + 3 = ?</a>
                            </div>
                        </li>
                        <li>
                            <div class="nicdark_margin100" style="width: 100%">
                                <a href="" class="nicdark_zoom nicdark_btn nicdark_bg_yellow medium nicdark_shadow nicdark_radius white" style="width: 100%">4 + 4 = ?</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="nicdark_space50"></div> 

    </div>
            
</section>

