<div id="modal_infor" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
            <div class="nicdark_textevidence nicdark_bg_yellow nicdark_radius_top">
                <h4 class="white nicdark_margin20">Thông tin giáo viên</h4>
                <i class="icon-text-width nicdark_iconbg right medium yellow"></i>
            </div>
            <div class="nicdark_margin20">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam condimentum nec. Morbi a commodo neque, sit amet tempor arcu..</p>
                <div class="nicdark_space20"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam condimentum nec.</p>                           
            </div>
        </div>

    </div>
</div>